<%- include('../layouts/adminHeader') -%>

    <section class="container-fluid p-0 d-flex ">
        <aside class="side-bar mt-4 me-2" id="aside-menu">
            <button class="side-menu bitem-0 m-1" id="menu-btn" onclick="asideShow()"><span
                    class="material-symbols-outlined">menu</span></button>
            <div class="menu-values m-1 pt-2" id="menu-page">
                <a href="/admin/dashboard" class="text-black text-decoration-none"><button
                        class="admn-btn mb-2 w-100 text-start "><i class="bi bi-box2-fill ms-3"></i>
                        Dashboard</button></a>
                <a href="/admin/users" class="text-black text-decoration-none"><button class="admn-btn mb-2 w-100 text-start "><i
                            class="bi bi-people-fill ms-3"></i> Customers</button></a>
                <a href="/admin/productManage" class="text-black text-decoration-none"><button
                        class="admn-btn mb-2 w-100 text-start "><i class="bi bi-archive-fill ms-3"></i>
                        Products</button></a>
                <a href="/admin/allOrders" class="text-black text-decoration-none"><button class="admn-btn-A mb-2 w-100 text-start "><i
                            class="bi bi-file-earmark-fill ms-3"></i> Orders</button></a>
                <a href="/admin/categoryManage" class="text-black text-decoration-none"><button class="admn-btn mb-2 w-100 text-start "><i
                            class="bi bi-diagram-2-fill ms-3"></i> Category</button></a>
                <a href="" class="text-black text-decoration-none"><button class="admn-btn mb-2 w-100 text-start "><i
                            class="bi bi-card-image ms-3"></i> Banners</button></a>
                <a href="/admin/couponManage" class="text-black text-decoration-none"><button class="admn-btn mb-2 w-100 text-start "><i
                            class="bi bi-star-fill ms-3"></i> coupons</button></a>
                <a href="/admin/salesReport" class="text-black text-decoration-none"><button class="admn-btn mb-2 w-100 text-start "><i
                            class="bi bi-clipboard-data-fill ms-3"></i> Sales Report</button></a>
            </div>
            <div class="adm-lgout m-1" id="l-out-btn">
                <a class="text-black text-decoration-none" href="/admin/adminLogout"><button
                        class="admn-btn w-100 text-start "><i class="bi bi-box-arrow-right ms-3"></i>
                        Logout</button></a>
            </div>
        </aside>
        <div class="px-3 w-75">
          <!-- <div class="d-flex justify-content-end mt-2">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort By
              </button>
              <div class="dropdown-menu text-white" aria-labelledby="dropdownMenuButton" style="border-radius: 0; box-shadow: none;">
                <a class="dropdown-item" href="/admin/allOrders?sort=date">Newest First</a>
                <a class="dropdown-item" href="/admin/allOrders?sort=lowToHigh">Price -- Low to High</a>
                <a class="dropdown-item" href="/admin/allOrders?sort=highToLow">Price -- High to Low</a>
              </div>
            </div>
          </div> -->
            <div class="table-responsive mt-4">
              <table class="table table-bordered table-success table-hover">
                <thead class="table-dark">
                  <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">product</th>   
                    <th scope="col">User</th>             
                    <th scope="col">Total Amount</th>
                    <th scope="col">Payment Method</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <% products.forEach((item,i) => { %>
                    <tr>
                      <td><%= i +1 %></td>
                      <td><img src="/productImgs/<%= item.image.filename %>" class="img-fluid product-image"></td>
                      <td><%= item.user %></td>
                      <td>₹<%= item.price %></td> 
                      <td><%= item.payment %></td>
                      <td id="statusBar-<%= item.orderId %>" class="fw-bold <% if (item.status === 'Processing') { %>text-primary<% } else if (item.status === 'Cancelled') { %>text-danger<% } else if (item.status === 'Delivered') { %>text-success<% } %>">
                        <%= item.status %></td>
                      <td>
                        <div class="btn-group">
                          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Status
                          </button>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item text-primary fw-bold" onclick="Pending('<%= item.orderId %>','<%= item.userId %>')">Processing</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item text-danger fw-bold" onclick="cancelled('<%= item.orderId %>','<%= item.userId %>')">Cancelled</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item text-success fw-bold" onclick="delivered('<%= item.orderId %>','<%= item.userId %>')">Delivered</a></li>
                          </ul>
                        </div>
                        <a href="/admin/detailsOfOrder?id=<%= item.orderId %>" class="ms-2"><button class="btn btn-primary">View</button></a>
                      </td>
                    </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
            <nav aria-label="Page navigation">
              <ul class="pagination justify-content-end">
                <li class="page-item">
                  <a class="page-link" href="<%= currentPage > 1 ? `?page=${currentPage - 1}&search=${search}` : '#' %>" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <% for (let i = 1; i <= totalPages; i++) { %>
                  <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                    <a class="page-link" href="<%= `?page=${i}` %>"><%= i %></a>
                  </li>
                <% } %>
                <li class="page-item">
                  <a class="page-link" href="<%= currentPage < totalPages ? `?page=${currentPage + 1}&search=${search}` : '#' %>" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
        </div>
    </section>

    <%- include('../layouts/footer') -%>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      const Pending = async(orderId,userId)=>{
        try {
          const result = await Swal.fire({
              title: "Are you sure?",
              text: "You want to change the status?",
              icon: "question",
              showCancelButton: true,
              confirmButtonText: "Processing",
              reverseButtons: true
          })

          if (result.isConfirmed) {
            const response = await axios.post('/admin/orderPending',{orderId,userId})
            console.log(response)
            if(response.data.success){
              
              const statusBar = document.getElementById(`statusBar-${orderId}`)
              console.log(response.data.orderStatus)
              statusBar.classList.remove('text-danger')
              statusBar.classList.remove('text-success')
              statusBar.classList.add('text-primary')
              statusBar.innerText = response.data.orderStatus
            }
          }
        } catch (err) {
          console.error(err)
        }   
      }

      const cancelled = async(orderId,userId)=>{
        try {
          const result = await Swal.fire({
              title: "Are you sure?",
              text: "You want to change the status?",
              icon: "question",
              showCancelButton: true,
              confirmButtonColor: "#d33",
              cancelButtonColor: "#3085d6",
              confirmButtonText: "Cancel it!",
              reverseButtons: true
          })

          if (result.isConfirmed) {
            const response = await axios.post('/admin/orderCancelling',{orderId,userId})
            console.log(response)
            if(response.data.success){
              
              const statusBar = document.getElementById(`statusBar-${orderId}`)
              console.log(response.data.orderStatus)
              statusBar.classList.remove('text-primary')
              statusBar.classList.remove('text-success')
              statusBar.classList.add('text-danger')
              statusBar.innerText = response.data.orderStatus
            }
          }
        } catch (err) {
          console.error(err)
        }   
      }

      const delivered = async(orderId,userId)=>{
        try {
          const result = await Swal.fire({
              title: "Are you sure?",
              text: "You want to change the status?",
              icon: "question",
              showCancelButton: true,
              confirmButtonColor: "#1ba61e",
              cancelButtonColor: "#3085d6",
              confirmButtonText: "Delivered",
              reverseButtons: true
          })

          if (result.isConfirmed) {
            const response = await axios.post('/admin/orderDelivered',{orderId,userId})
            console.log(response)
            if(response.data.success){
              
              const statusBar = document.getElementById(`statusBar-${orderId}`)
              console.log(response.data.orderStatus)
              statusBar.classList.remove('text-primary')
              statusBar.classList.remove('text-danger')
              statusBar.classList.add('text-success')
              statusBar.innerText = response.data.orderStatus
             
            }
          }
        } catch (err) {
          console.error(err)
        }   
      }
    </script>