<%- include('../layouts/adminHeader') -%>

    <section class="container-fluid p-0 d-flex">
        <aside class="side-bar mt-4 " id="aside-menu">
            <button class="side-menu border-0 m-1" id="menu-btn"><span
                    class="material-symbols-outlined">menu</span></button>
            <div class="menu-items m-1 pt-2" id="menu-page">
                <a href="/admin/dashboard" class="text-black text-decoration-none"><button id="admn-btns"
                        class="admn-btn mb-2 w-100 text-start "><i class="bi bi-box2-fill ms-3"></i>
                        Dashboard</button></a>
                <a href="/admin/users" class="text-black text-decoration-none"><button class="admn-btn-A mb-2 w-100 text-start "><i
                            class="bi bi-people-fill ms-3"></i> Customers</button></a>
                <a href="/admin/productManage" class="text-black text-decoration-none"><button
                        class="admn-btn mb-2 w-100 text-start "><i class="bi bi-archive-fill ms-3"></i>
                        Products</button></a>
                <a href="" class="text-black text-decoration-none"><button class="admn-btn mb-2 w-100 text-start "><i
                            class="bi bi-file-earmark-fill ms-3"></i> Orders</button></a>
                <a href="/admin/categoryManage" class="text-black text-decoration-none"><button class="admn-btn mb-2 w-100 text-start "><i
                            class="bi bi-diagram-2-fill ms-3"></i> Category</button></a>
                <a href="" class="text-black text-decoration-none"><button class="admn-btn mb-2 w-100 text-start "><i
                            class="bi bi-card-image ms-3"></i> Banners</button></a>
                <a href="" class="text-black text-decoration-none"><button class="admn-btn mb-2 w-100 text-start "><i
                            class="bi bi-star-fill ms-3"></i> coupons</button></a>
                <a href="" class="text-black text-decoration-none"><button class="admn-btn mb-2 w-100 text-start "><i
                            class="bi bi-clipboard-data-fill ms-3"></i> Sales Report</button></a>
            </div>
            <div class="adm-lgout m-1" id="l-out-btn">
                <a class="text-black text-decoration-none" href="/admin/adminLogout"><button
                        class="admn-btn w-100 text-start "><i class="bi bi-box-arrow-right ms-3"></i>
                        Logout</button></a>
            </div>
        </aside>
        <div class="d-flex align-items-center ps-5 w-75 table-responsive">
            <table class="table table-bordered rounded-4 table-success">
                <tr>
                    <th colspan="4"></th>
                </tr>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone No:</th>
                    <th>Action</th>
                </tr>
                <% if(user.length> 0){ %>
                    <% for(let i=0;i < user.length;i++){ %>
                        
                           <tr>
                            <td>
                                <%= user[i].name %>
                            </td>
                            <td>
                                <%= user[i].email %>
                            </td>
                            <td>
                                <%= user[i].mobile_number %>
                            </td>
                            <td>
                                <% if(user[i].is_blocked===false){ %>
                                    <form action="/admin/block" method="post">
                                        <input type="hidden" name="id" value="<%= user[i]._id %>">                                       
                                        <button type="submit" class="btn text-black" style="background-color: #ff3737;">Block <i class="fa-solid fa-ban"></i></i></button>
                                    </form>
                                <% }else{ %>
                                    <form action="/admin/unblock" method="post">
                                        <input type="hidden" name="id" value="<%= user[i]._id %>">
                                        <button type="submit" class="btn text-black" style="background-color: #ffff00;">Unblock <i class="fa-solid fa-lock-open"></i></button>
                                    </form>
                                <% } %>
                            </td>
                        </tr>
                        <tr>
                            <th colspan="4"></th>
                        </tr> 
                        <% } %>                         
                            <% }else{ %>
                                <tr>
                                    <td colspan="4">Users not found</td>
                                </tr>
                                <% } %>
            </table>
        </div>
    </section>

        <%- include('../layouts/footer') -%>