<%- include('../layouts/header') -%>
<div class="container">
    <div class="row">
        <div class="col-md-8 mb-2">
            <h4>Products</h4>
            <div class="list-group">
                <div class="list-group-item d-flex flex-grow-1">
                    <% for(let item of products){ %>
                        <img src="\productImgs\<%= item.product.images[0].filename %>" class="img-fluid me-3" style="max-width: 80px;">
                    <% } %>                                                                               
                    <p class="text-success fw-bold ms-auto"></p>                    
                </div>
                
                <div class="list-group-item mt-2">                                                          
                    <h5>Delivery Address</h5>
                    <form id="order-form" method="post"> 
                    <% if(typeof address !== 'undefined'){ %>
                    <% address.forEach((add,i)=>{ %>  
                    <input type="radio" name="addressId" id="address-<%= i %>" value="<%= add._id %>" required >
                    <label for="credit"><span class="fw-bold"><%= add.name %> , </span><%= add.address %></label><br>
                    <% }) %>
                    <% } %>
                    
                </div>
                <div class="list-group-item mt-2">                                                          
                    <h5>Payment Method</h5> 
                    
                        <p>Please select any payment method:</p>
                        <input type="radio" name="payment" id="wallet" value="wallet" required>
                        <label for="credit">Wallet</label><br>
                        <input type="radio" name="payment" id="upi" value="upi">
                        <label for="upi">UPI</label><br>
                        <input type="radio" name="payment" id="cash on delivery" value="cash on delivery">
                        <label for="">Cash on delivery</label><br>
                        <input type="hidden" name="userId" id="" value="<%= user._id %>">
                        <input type="hidden" name="totalAmount" id="" value="<%= totalAmount %>">
                        <div class="text-end "><button class="btn btn-lg mt-3 fw-bold" id="order-place" type="submit" style="background-color: #fb641b;">Place Order</button></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h4 class="mb-3">Price Details</h4>
            <div class="rounded p-2 bg-white">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td>Price (<%= products.length %> Items)</td>
                            <td>₹<%= totalAmount %></td>
                        </tr>
                        <tr>
                            <td>Delivery Charges</td>
                            <td>₹40 (Free)</td>
                        </tr>
                        <tr class="table-secondary">
                            <td><strong>Total Amount</strong></td>
                            <td><strong style="color: green;">₹<%= totalAmount %></strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


    <footer class="text-center text-lg-start text-dark" style="background-color: #9DBC98">
        <section class="d-flex justify-content-between  p-4 text-black">
            <div class="me-5">
                <span>Get connected with us on social networks:</span>
            </div>
            <div>
                <a href="" class="text-black me-4">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="" class="text-black me-4">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="" class="text-black me-4">
                    <i class="bi bi-google"></i>
                </a>
                <a href="" class="text-black me-4">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="" class="text-black me-4">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a href="" class="text-black me-4">
                    <i class="bi bi-github"></i>
                </a>
            </div>
        </section>
    
        <section class="">
            <div class="container text-center text-md-start mt-3">
    
                <div class="row mt-3">
    
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
    
                        <h6 class="text-uppercase fw-bold">
                            <a href="/"><img src="/img/Logo.avif" width="35px"></a>
                         LUMINOVA</h6>
                        <hr class="mb-2 mt-0 d-inline-block mx-auto" style="width: 120px; background-color: #7c4dff; height: 2px" />
                        <p>
                            Online shopping for men has revolutionized the way they approach fashion, 
                            access to a diverse range of styles. 
                            men can update their wardrobe with just a few clicks.
                        </p>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
    
                        <h6 class="text-uppercase fw-bold">Products</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p>
                            <a href="#!" class="text-dark">Shirts</a>
                        </p>
                        <p>
                            <a href="#!" class="text-dark">Pants</a>
                        </p>
                        <p>
                            <a href="#!" class="text-dark">T-Shirts</a>
                        </p>
                        <p>
                            <a href="#!" class="text-dark">Shorts</a>
                        </p>
                    </div>
    
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
    
                        <h6 class="text-uppercase fw-bold">Useful links</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p>
                            <a href="#!" class="text-dark">Your Account</a>
                        </p>
                        <p>
                            <a href="#!" class="text-dark">Become an Affiliate</a>
                        </p>
                        <p>
                            <a href="#!" class="text-dark">Shipping Rates</a>
                        </p>
                        <p>
                            <a href="#!" class="text-dark">Help</a>
                        </p>
                    </div>
    
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
    
                        <h6 class="text-uppercase fw-bold">Contact</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p><i class="bi bi-house-door-fill ms-3"></i> Bangalore, BG 112, INDIA</p>
                        <p><i class="bi bi-envelope-at-fill ms-3"></i> luminova@gmia.in</p>
                        <p><i class="bi bi-telephone-fill ms-3"></i> + 91 234 567 89 11</p>
                        <p><i class="bi bi-telephone-fill ms-3"></i> + 91 234 567 89 12</p>
                    </div>
                
                </div>
               
            </div>
        </section>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>   
    <script src="/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        const orderForm = document.getElementById('order-form')
        orderForm.addEventListener('submit',async()=>{
          try {
            event.preventDefault()
            const formData = new FormData(orderForm);
            const formObject = {};
            formData.forEach((value, i) => {
                formObject[i] = value
            })
            const response = await axios.post('/checkout', formObject )
            if(response.data.cashOnDelivery){
                window.location = '/orderSuccessful'
            }else if(response.data.upi){
                const { orderId, totalAmount ,key_id } = response.data
                const options = {
                    key: key_id, 
                    amount: parseInt(totalAmount)*100, 
                    currency: 'INR',
                    name: 'Luminova',
                    description: 'Order Payment',
                    image: "/img/Logo.avif",
                    order_id: orderId,
                    handler: function(response) {
                        console.log('Payment success:', response)                       
                        window.location.href = '/orderSuccessful'
                    },                   
                }
                const raz = new Razorpay(options)
                raz.open()
            }               
        } catch (error) {
            console.error('Error:', error)
        }
        })
    </script>
    </body>
    </html>    