<%- include('../layouts/header') -%>

<!--------------------------- section of body --------------------------->
<div class="container-fluid py-3 z-0">
  <div class="row">
    <div class="col-md-2 ">
      <div class="border rounded"  style="background-color: white">
      <h5 class="mb-3 mt-2 ms-2">Filters</h5>
      <form id="filterForm" method="get" class="m-2">
        <div class="list-group mb-2">
            <p class="ms-1 mb-1 fw-bold mt-2">Top Brands</p>
            <label class="ms-2">
                <input type="radio" id="brandTheIndianGarageCo" name="brand" value="TheIndianGarageCo">
                The Indian Garage Co
            </label>
            <label class="ms-2 mt-2">
                <input type="radio" id="brandTHEBEARHOUSE" name="brand" value="THEBEARHOUSE">
                THE BEAR HOUSE
            </label>
        </div>
        <div class="list-group">
          <p class="ms-1 mb-1 fw-bold">Top Brands</p>
            <label class="ms-2">
                <input type="radio" id="priceUnder500" name="price" value="under500">
                Under 500
            </label>
            <label class="ms-2 mt-2">
                <input type="radio" id="priceAbove500" name="price" value="above500">
                Above 500
            </label>
        </div>
        <input type="hidden" name="sort" value="<%= sortOption %>">
        <input type="hidden" name="search" value="<%= search %>">
        <input type="hidden" name="category" value="<%= categoryId %>">
        <div class="<% if(priceFilter != '' || brandFilter != ''){ %>d-flex justify-content-between<% }else{ %>text-end<% } %> my-1"><% if(priceFilter != '' || brandFilter != ''){ %><a href="/" class="btn btn-secondary btn-sm me-3">Clear</a><% } %><button type="submit" class="btn btn-primary btn-sm me-3">Filter</button></div>
    </form>
  </div>
    </div>
    <div class="col-md-10">
      <div class="d-flex justify-content-end mb-3">
        <div class="dropdown" style="position: relative;">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort By
          </button>
          <div class="dropdown-menu text-white" aria-labelledby="dropdownMenuButton" style="border-radius: 0; box-shadow: none;">
            <a class="dropdown-item" href="/?sort=date&search=<%= search %>&price=<%= priceFilter %>&brand=<%= brandFilter %>&category=<%= categoryId %>">Newest First</a>
            <a class="dropdown-item" href="/?sort=lowToHigh&search=<%= search %>&price=<%= priceFilter %>&brand=<%= brandFilter %>&category=<%= categoryId %>">Price -- Low to High</a>
            <a class="dropdown-item" href="/?sort=highToLow&search=<%= search %>&price=<%= priceFilter %>&brand=<%= brandFilter %>&category=<%= categoryId %>">Price -- High to Low</a>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <% if (noProductsFound) { %>
          <div class="py-5">
            <h4 class="text-center text-black my-5">No products found.</h4>
          </div>
        <% } else { %>
          <% product.forEach( (value) =>{ %>
            <div class="card mx-3 mt-2 mb-1 border-0" style="width: 16rem;">
              <a href="/product/<%= value._id %>" class="text-decoration-none">
                <img src="<%= value.images[0].path.replace('public', '') %>" class="card-img-top">
                <div class="card-body px-0 pt-1">
                  <% if(value.quantity == 0){ %>
                  <p class="m-0 text-danger">Currently unavailable</p>
                  <% } %>
                  <p class="m-0" style="color: #aaaaaa;"><b><%= value.brand %></b></p>
                  <p class="m-0 text-nowrap overflow-hidden text-black"><b><%= value.name %></b></p>
                  <div class="d-flex"><p class="m-0 fw-bold text-black me-1">₹<%= value.price - parseInt(value.price * (value.offPrice / 100)) %></p><p class="m-0 text-secondary text-decoration-line-through me-1">₹<%= value.price %></p><p class="m-0 text-success fw-bold"><%= value.offPrice %>%</p></div>            
                </div>
              </a>
            </div>
          <% }) %>
        <% } %>

        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-end">
            <li class="page-item">
              <a class="page-link" href="<%= currentPage > 1 ? `?page=${currentPage - 1}&search=${search}&sort=${sortOption}&price=${priceFilter}&brand=${brandFilter}&category=${categoryId}` : '#' %>" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <% for (let i = 1; i <= totalPages; i++) { %>
              <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                <a class="page-link" href="<%= `?page=${i}&search=${search}&sort=${sortOption}&price=${priceFilter}&brand=${brandFilter}&category=${categoryId}` %>"><%= i %></a>
              </li>
            <% } %>
            <li class="page-item">
              <a class="page-link" href="<%= currentPage < totalPages ? `?page=${currentPage + 1}&search=${search}&sort=${sortOption}&price=${priceFilter}&brand=${brandFilter}&category=${categoryId}` : '#' %>" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>


<%- include('../layouts/footer') -%>