<%- include('../layouts/header') -%>

<!--------------------------- section of body --------------------------->
<div class="container py-3 z-0">
    <div class="row justify-content-center">
        <% product.forEach( (value) =>{ %>
                 
         <div class="card m-3 border-0" style="width: 16rem;">
            <a href="/product/<%= value._id %>" class="text-decoration-none">  
             <img src="<%= value.images[0].path.replace('public', '') %>" class="card-img-top">
             <div class="card-body px-0 pt-1">
               <p class="m-0" style="color: #9b9a9a;"><b><%= value.brand %></b></p>
               <p class="m-0 text-nowrap overflow-hidden text-black"><b><%= value.name %></b></p>
               <p class="m-0 fw-bold text-success">₹<%= value.price %></p>
             </div>
            </a> 
         </div>
       
        <% }) %>    
     </div>
</div>


<%- include('../layouts/footer') -%>