<%- include('../layouts/header') -%>

<div class="container pb-3">
    <h1 class="mt-2 mb-4">Order Details</h1>
    <% if (order) { %>
        <div class="card mb-4">
            <div class="card-header">
                <h3>Order Status: <span id="statusBar" class="<% if (orderProduct.status === 'Processing') { %>text-primary<% } else if (orderProduct.status === 'Cancelled') { %>text-danger<% } else if (orderProduct.status === 'Delivered') { %>text-success<% } %>"><%= orderProduct.status %></span></h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <p><strong>Order ID:</strong> #<%= order._id %></p>
                        <p><strong>User Name:</strong> <%= user.name %></p>
                        <p><strong>Total Amount:</strong> ₹<%= totalAmount %></p>
                        <p><strong>Payment Method:</strong> <%= order.payment %></p>
                        <p><strong>Address:</strong> <%= orderAddress.address %>, <%= orderAddress.city %>, <%= orderAddress.state %> <%= orderAddress.district %></p>
                        <% if (orderProduct.status === 'Processing') { %>
                            <button  class="btn btn-danger" id="cancel-btn" onclick="cancelOrder('<%= orderProduct._id %>','<%= orderProduct.quantity %>','<%= orderProduct.productId._id %>')">Cancel</button>
                        <% }else if(orderProduct.status === 'Delivered'){ %> 
                            <button  class="btn btn-warning" id="return-btn" onclick="returnOrder('<%= orderProduct._id %>','<%= orderProduct.quantity %>','<%= orderProduct.productId._id %>')">Return</button>
                        <% } %>
                    </div>
                    <div class="col-md-6">
                        <h5>Product:</h5>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-auto">
                                        <img src="/productImgs/<%= orderProduct.productId.images[0].filename %>" class="product-image me-3" style="max-width: 100px;">
                                    </div>
                                    <div class="col">
                                        <p><strong>Product ID:</strong> #<%= orderProduct.productId._id %></p>
                                        <p><strong>Product Name:</strong> <%= orderProduct.productId.name %></p>
                                        <p><strong>Price:</strong> ₹<%= orderProduct.productId.price %></p>
                                        <p><strong>Quantity:</strong> <%= orderProduct.quantity %></p>
                                        <p><strong>Final Price:</strong> <%= orderProduct.price %></p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    <% } else { %>
        <div class="alert alert-warning" role="alert">
            No order details found.
        </div>
    <% } %>
</div>

<%- include('../layouts/footer') -%>
<script>
    const cancelOrder = async (orderId,quantity,productId)=>{
        event.preventDefault()
        
        try {
            const result = await Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#d33",
            cancelButtonColor: "#3085d6",
            cancelButtonText: "Back",
            confirmButtonText: "Cancel it!"
            })

            if (result.isConfirmed) {
                console.log(orderId)

                const response = await fetch("/cancelOrder/" + orderId, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    quantity: quantity,
                    productId: productId
                })
                }) 
                console.log(response);
                if(response.status == 200){
                    const cancelBtn = document.getElementById(`cancel-btn`)
                    cancelBtn.remove()
                    const status = document.getElementById(`statusBar`)
                    status.innerHTML = 'Cancelled'
                    status.classList.remove('text-primary')
                    status.classList.add('text-danger')
                }else {
                    console.error("Failed to cancel the product.")
                }         
            }
        } catch (err) {
            console.error(err)
        }    
    }

    const returnOrder = async (orderId,quantity,productId)=>{
        event.preventDefault()
        try {
            const result = await Swal.fire({
            title: "Are you sure?",
            text: "Do you want to return the product?",
            icon: "question",
            showCancelButton: true,
            confirmButtonColor: "rgb(255 206 0)",
            cancelButtonColor: "#3085d6",
            cancelButtonText: " No ",
            confirmButtonText: "Return"
            })

            if (result.isConfirmed) {
                const response = await fetch("/returnOrder/" + orderId, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    quantity: quantity,
                    productId: productId
                })
                }) 
                if(response.status == 200){
                    const responseData = await response.json()
                    console.log(responseData ,responseData.isExpired , responseData.message )
                    if(responseData.isExpired == true){
                        Swal.fire({
                            title: "Date expired",
                            text: responseData.message,
                            icon: "info",
                        })

                    }else{
                        const returnBtn = document.getElementById(`return-btn`)
                        returnBtn.remove()
                        const status = document.getElementById(`statusBar`)
                        status.innerHTML = 'Returned'
                        status.classList.remove('text-success')
                        status.classList.add('text-warning')
                        Swal.fire({
                            title: "Request sent",
                            text: "Money will be put in the wallet",
                            icon: "success"
                        })
                    }
                    console.log(response.data)
                }else {
                    console.error("Failed to return the product.")
                }         
            }
        } catch (err) {
            console.error(err)
        }    
    }
</script>