<%- include('../layouts/header') -%>

<!--------------------------- section of body --------------------------->
<div class="container py-3 z-0 bg-white p-3">
    <div class="row">
        <div class="col-md-5 border-end">         
            <div class="d-flex justify-content-center mb-1" id="zoom-div">
                <img src="<%= product.images[0].path.replace('public', '') %>" class="zoom-img border border-success img-fluid w-75"> 
            </div>
            <div class="d-flex justify-content-center">
            <% product.images.forEach( (value) =>{ %>
                <a href=""><div class="border border-dark px-2 ms-2">
                    <img src="<%= value.path.replace('public', '') %>" class="object-fit-contain" style="width: 3rem;">
                </div></a>
            <% }) %>
            </div>
        </div> 
             
        <div class="col-md-7">
            <div class="mt-5">
                <h4 class="ms-3 " style="color: #a3a2a2;"><b><%= product.brand %></b></h4>
                <h5 class="ms-3 "><b><%= product.name %></b></h5>
                <div class="d-flex"><h4 class="ms-3 fw-bold text-black me-2">₹<%= product.price - parseInt(product.price * (product.offPrice / 100)) %></h4><h5 class="m-0 text-secondary text-decoration-line-through me-2">₹<%= product.price %></h5><h5 class="m-0 text-success fw-bold"><%= product.offPrice %>%</h5></div>
                <p class="ms-3 text-black"><%= product.description %></p>
            </div>
            <% if(product.quantity == 0){ %>
                <p class="ms-3 text-danger fw-bold">Currently unavailable</p>
            <% }else{ %>
            <div class="mt-5">
                <% if(typeof isInCart !=='undefined'){ %>
                    <a href="/cart"><button class="btn fw-bold" style="background-color: #ff9f00;">GO TO CART</button></a>
                <% }else{ %>
                    <form action="/cart" method="post" class="d-inline-flex me-2">
                        <input type="hidden" name="productId" value="<%= product._id %>">
                        <button type="submit" class="btn fw-bold" style="background-color: #ff9f00;">ADD TO CART</button>
                    </form>                  
                <% } %>
                <% if(typeof isInWish !=='undefined'){ %>
                    <button class="btn fw-bold" id="add-wish" data-productId="<%= product._id %>" style="background-color: #fb641b;" hidden>ADD TO WISHLIST</button>
                    <button class="btn fw-bold" id="remove-wish" data-productId="<%= product._id %>" style="background-color: #fb641b;">REMOVE FROM WISHLIST</button>
                <% }else{ %>
                    <button class="btn fw-bold" id="add-wish" data-productId="<%= product._id %>" style="background-color: #fb641b;">ADD TO WISHLIST</button>
                    <button class="btn fw-bold" id="remove-wish" data-productId="<%= product._id %>" style="background-color: #fb641b;" hidden>REMOVE FROM WISHLIST</button>
                <% } %>
            </div>
            <% } %>
        </div>      
     </div>
</div>
<div class="position-fixed bottom-0 start-50 translate-middle p-3" style="z-index: 11">
    <div class="toast bg-dark text-white" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
        <div class="toast-body fw-bold">
            <h6 id="toast-body"></h6>  
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    </div>
</div>

<%- include('../layouts/footer') -%>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const options = {
    width: 400,
    zoomWidth: 300,
    offset: {vertical: 0, horizontal: 10}
 }
    new ImageZoom(document.getElementById('zoom-div'),options)

    const addWishBtn = document.getElementById('add-wish');
const removeWishBtn = document.getElementById('remove-wish');

if (addWishBtn && removeWishBtn) {
    addWishBtn.addEventListener('click', async () => {
        try {
            const productId = addWishBtn.getAttribute('data-productId');
            const response = await axios.post('/addToWishlist', { productId });
            document.getElementById('toast-body').innerText = response.data.message;
            const toastEl = document.querySelector('.toast');
            const toast = new bootstrap.Toast(toastEl, {
                autohide: true,
                delay: 2000
            });
            toast.show();
            addWishBtn.setAttribute('hidden', 'true');
            removeWishBtn.removeAttribute('hidden');
        } catch (error) {
            console.error(error);
        }
    });

    removeWishBtn.addEventListener('click', async () => {
        const productId = removeWishBtn.getAttribute('data-productId');
        const response = await axios.post('/removeWishProduct', { productId });
        document.getElementById('toast-body').innerText = response.data.message;
        const toastEl = document.querySelector('.toast');
        const toast = new bootstrap.Toast(toastEl, {
            autohide: true,
            delay: 2000
        });
        toast.show();
        removeWishBtn.setAttribute('hidden', 'true');
        addWishBtn.removeAttribute('hidden');
    });
}

</script>